# Домашнее задание «Функции и работа с данными»

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
films = pd.read_csv('ratings.csv')

In [3]:
films.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [17]:
def ratings(param):
    if param <= 2:
        return "низкий рейтинг"
    elif param > 2 and param <= 4:
        return "средний рейтинг"
    elif param > 4:
        return "высокий рейтинг"

In [19]:
ratings(4.5)

'высокий рейтинг'

In [21]:
films['class'] = films['rating'].apply(ratings)

In [25]:
films.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [33]:
films[(films['class'] == 'высокий рейтинг')].head()

    userId  movieId  rating  timestamp            class
21       2       17     5.0  835355681  высокий рейтинг
22       2       39     5.0  835355604  высокий рейтинг
29       2      150     5.0  835355395  высокий рейтинг
37       2      222     5.0  835355840  высокий рейтинг
44       2      265     5.0  835355697  высокий рейтинг

### Задание 2
Используем файл keywords.csv.  

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.  

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:  

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [38]:
keywords = pd.read_csv('keywords.csv')
keywords.head(5)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [37]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [61]:
def region(param):
    cnt = 0
    param = param.lower()
    for reg, words in geo_data.items(): # цикл по словарю
        for words_2 in words: # второй цикл по возможному списку
            if words_2 in param: # услоиве, если что то из списка подходит возвращаем ключ словаря
                return reg
                cnt += 1 # счетчик найденых совпадений для возврата ‘undefined’
    if cnt == 0:
        return 'undefined'

In [65]:
keywords['region'] = keywords['keyword'].apply(region)

In [66]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [76]:
keywords.groupby('region').count()

                keyword  shows
region
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387